.wrapper {
  background-color: #f4f6f6;
  margin-top: -20px;
  border-bottom: 0.5px solid lightgrey;
}

.gallery-title {
  text-align: center;
  width: 100%;
  padding-bottom: 40px;
  padding-top: 40px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
    Arial, sans-serif;
}

.galImages {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  grid-gap: 20px;
}

.signUp {
  text-align: center;
  padding-top: 50px;
} 

.landing-button {
  text-align: center;
  cursor: pointer;
}

.landing-button img {
  height: 53px;
  width: 173px;
  cursor: pointer;
}