.gallery-title {
    text-align: center;
    width: 100%;
    padding-bottom: 40px;
} 

.galImages {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    grid-gap: 20px;
} 
