.shareGallery {
  width: 100%;
}

.header-wrapper {
  background-color: #f4f6f6;
  margin-top: -20px;
  border-bottom: 0.5px solid lightgrey;
  width: 100%;
}

.nav-link {
  color: #6c757d;
  padding: 12px; 
  background-color: #e6e6e6;
  border-bottom: 0.5px solid lightgrey;
}

.link {
  color: #6c757d;
}

.gallery-title {
  text-align: center;
  width: 100%;
  padding: 40px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
    Arial, sans-serif;
}   

.cards-wrapper { 
  justify-content: center;
  padding: 25px;
}

.galleryCards { 
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    grid-gap: 50px;
}  

.galleryText {
  font-size: 11px;
}


@media only screen and (max-width: 767.98) {
  .galCards {
    display: flex;
    flex-direction: column;
    gap: 50px; 
  }  

  .cards-wrapper { 
    justify-content: center;
    padding-top: 25px;
    padding-left: 1px;
  } 
}

@media only screen and (min-width: 768px) and (max-width: 1099.98) {   

  .galCards {
    display: flex;
    flex-direction: column;
    gap: 50px;
  } 
}  

@media only screen and (min-width: 1100px) and (max-width: 1280px) { 
  .galleryCards { 
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    grid-gap: 50px;
  }  
}
 
@media only screen and (min-width: 1280px) { 
  .galleryCards { 
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    grid-gap: 50px;
  } 
}
 
.signUp {
  text-align: center;
  padding-top: 50px;
} 

.landing-button {
  text-align: center;
  cursor: pointer;
}

.landing-button img {
  height: 48px;
  width: 220px;
  cursor: pointer;
}