.gallery-title {
    text-align: center;
    width: 100%;
    padding-bottom: 40px;
} 

.galImages {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    grid-gap: 20px;
} 

.gallery-buttons {
    color: #007bff;
    padding: 12px;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}