
.login {
    margin-top: 50px;
}

.login-title-svg { 
    margin-top: -20px;
    text-align:center;
    justify-content: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
} 

.login-title{
  text-align: center;
} 

.login-svg {
    margin-top: -53px;
}

.login-svg svg {
    width: 195px;
    height: 192px;
}

.login-form-graphic {
    display: flex;
    justify-content: center;
    align-items: center;
} 

.login-form {
    width: 370px;
    margin-top: -29px;
}