.scribe-page { 
  min-width: 760px;
  margin-top: 2%;
  padding-left: 5%;
  padding-right: 3%;
} 

.nav-link {
  color: #6c757d;
  padding: 12px; 
  background-color: #e6e6e6;
  border-bottom: 0.5px solid lightgrey;
} 

.scribe-upper {
  display: flex;
}

.scribe-instructions li {
  font-size: x-small;
  margin-left: -5%;
}

.scribe-crop {
  width: 80%;
}

.scribe-right {
  padding-left: 2%;
  padding-right: 1%;
  width: 80%;
}

.scribe-create {
  margin: 0;
}  

.scribe-lower {
  left: 0;
}

.scribe-select-gallery {
 margin-right: 2%; 
}

.scribe-card-header {
  margin-top: 35px;
  text-align: center;
} 

.scribe-card { 
  margin-bottom: 80px;
}
