.scribe-page {
  margin-top: 1%;
  padding-left: 5%;
  padding-right: 5%;
}

.scribe-upper {
  display: flex;
}

.scribe-instructions li {
  font-size: x-small;
  margin-left: -5%;
}

.scribe-crop {
  width: 80%;
}

.scribe-right {
  padding-left: 3%;
  padding-right: 1%;
  width: 80%;
}

.scribe-create {
  margin: 0;
}

.scribe-card-header {
  text-align: center;
} 

.scribe-select-gallery {
  float: right;
}

.scribe-card {
  margin-bottom: 100px;
}
