.scribe-page { 
    margin-top: 1%;
    padding-left:5%;
    padding-right:5%;
}

.scribe-upper { 
    display: flex;
}   

.scribe-instructions h6 {
    margin-left: -6%;
}

.scribe-instructions li {
    font-size: x-small;
    margin-left: -5%;
    align-content: left;
}
 
.scribe-crop {
    width:80%;
} 

.scribe-right {
    padding-left:3%;
    padding-right: 1%;
    width: 80%;
}

.scribe-create { 
    margin: 0;
} 

.scribe-card-header {
    text-align:center
}
 .scribe-card {
     margin-bottom: 100px;
 }

