.signup {
    margin-top: 50px;
}

.signup-top-svg { 
    justify-content: center;
    text-align: center;
}

.signup-svg {
    margin-top:-38px;
} 

.signup-svg svg { 
    width: 190px;
    height: 190px;
    z-index: 1;
}

.signup-form-graphic {
    display: flex;
    justify-content: center;
    align-items:center;
} 

.signup-form { 
    margin-top: -50px;
    width: 370px;
    z-index: -1;
}


