.signup {
    min-height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
} 

.signup-svg img { 
    width: 200px;
    height: 200px;
}

.redirect {
    padding-top: 8px;
    cursor: pointer;
}



