* {
  box-sizing: border-box;
}
 @font-face {
    font-family: 'Montserrat';
    src: local('Montserrat-Light'),
        url('../components/Fonts/Montserrat-Light.ttf') format('truetype');
        font-weight: normal;
}
