.directory-card { 
  text-align: center; 
  height: 10rem;
  width: 10rem;
  margin: 30px auto;
  border: none;
}

.card-img-top { 
  height: 10rem;
  width: 10rem;
  background-size: cover;
  background-position: center;
  background-clip: content-box;
  border: 1px solid lightgrey;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
} 

.card-img-top img {
  height: 100%;
  width: 100%;
} 

.card-title {
  padding-top: 8px; 
  font-size: 18px; 
  border: none;
}   

.btn {
  margin-bottom: 10px;
}
