.container {
  margin-top: 30px;
}

.card {
  border: 1px solid lightgrey;
  height: 250px;
  width: 540px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  margin: 0 auto;
}

.myRow {
  height: 100%;
}

.myRow div {
  height: 100%;
}

.galleryImage {
  max-height: 100%;
  max-width: 100%;
  width: 100%;
  height: 100%;
}

.gallery-card-buttons {
  padding-left: 200px;
}

@media only screen and (max-width: 1000px) {
  #mytext {
    font-size: 10px;
  }
}
