.box {
  display: inline-block;
  /* padding: 3px; */
  box-sizing: border-box;
}

.box-buttons {
  display: flex;
  flex-direction: column;
  width: 110px;
  justify-content: space-evenly;
}

.img-preview {
  overflow: hidden;
}
