.container {
  margin-top: 20px;
}

.previewCard {
    border: 1px solid lightgrey;
    height: 250px;
    width: 540px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    margin: 0 auto;
}
  
.previewRow {
    height: 100%;
  }
  
.previewRow > div {
    height: 100%;
}
  
.previewImage {
    max-height: 100%;
    max-width: 100%;
    width: 100%;
    height: 100%;
}
  
.preview-card-buttons {
    display: flex;
    justify-content: space-evenly;
}