body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
} 

.form {
    background-color:#fff;
    border: 0.5px solid whitesmoke;
    -webkit-box-shadow: 5px 3px 15px -4px #000000; 
    box-shadow: 5px 3px 15px -4px #000000;
    align-items: center;
    padding: 35px;
    display: block;
    max-width: 450px;
} 

h3 {
    padding-bottom: 25px;
} 

p {
    font-style: italic;
    float: right;
}