input, button {
    appearance: none;
    background: none;
    border: none;
    outline: none;
} 

.signup {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: whitesmoke;
} 

form {
    display: block;
    position: relative;
} 

